# CREATED WITH THE HELP OF GITHUB 
# LaTeX build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.lof
*.lot
*.bcf
*.run.xml
# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
env/

# ---------------------------
# Jupyter Notebooks
# ---------------------------
.ipynb_checkpoints/
*.nbconvert.ipynb
output.txt
*.out
*.log

# ---------------------------
# VS Code Settings
# ---------------------------
.vscode/
*.code-workspace

# ---------------------------
# OS-specific
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Spark & Hadoop Outputs
# ---------------------------
*.crc
*.tmp
_part*
_SUCCESS
FAILURE
spark-warehouse/
.metastore_db
